  <div class="template-container">
    <div class="content-col">
      <div class="title">Chosen templates</div>
      <div class="template-list">
        <div class="list-item">Item 1</div>
        <div class="list-item">Item 2</div>
        <div class="list-item">Item 3</div>
        <!-- Add more items as needed -->
      </div>
    </div>
  
    <div class="arrows">
      <div class="arrow arrow-right">&#x02190;</div>
      <div class="arrow arrow-left">&#x02192;</div>
    </div>
  
    <div class="content-col">
      <div class="title">All topic templates</div>
      <div class="template-list">
        <div class="list-item">Item A</div>
        <div class="list-item">Item B</div>
        <div class="list-item">Item C</div>
        <!-- Add more items as needed -->
      </div>
    </div>
    </div>
  