<div class="file-dialog">
  <div [@fadeInOut] class="file-container" 
       (dragover)="onDragOver($event)" 
       (dragleave)="onDragLeave($event)" 
       (drop)="onDrop($event)">
    <input type="file" id="fileInput" class="file" (change)="onFileChange($event)" multiple>
    <div class="upload-icon">
      <i class="fas fa-upload"></i>
      <p>Drag & Drop your files or <label for="fileInput" class="file-label">Browse</label></p>
    </div>
  </div>

  <p>Chosen files:</p>
  <!-- Scrollable file list inside fixed-size div -->
  <div class="file-list-wrapper">
    <div *ngFor="let file of files; let i = index" class="file-item">
      <div class="file-name">{{ file.name }}</div>
      <button class="delete-file" (click)="removeFile(i)">x</button>
    </div>
  </div> <br />

  <div class="dialog-button">
    <button class="button btn-upload" (click)="upload()">Upload</button>
    <button class="button btn-close-dialog" (click)="close()">Close</button>
  </div>
</div>
